### Handling Imbalance Dataset

1. Upsampling
2. Downsampling

In [ ]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples=1000
class_0_ratio= 0.9
n_class_0= int(n_samples* class_0_ratio)   #900 values
n_class_1= n_samples-n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [12]:
## Create My dataframe with imbalanced dataset

class_0= pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1= pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1]*n_class_1
})

In [13]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [14]:
df.tail()

     feature_1  feature_2  target
995   2.677156   1.092048       1
996   2.963404   0.181955       1
997   1.621476   1.877267       1
998   3.429559   3.794486       1
999   3.532273   1.679490       1

In [15]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [16]:
## Upsampling

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [17]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, 
         n_samples=len(df_majority),
         random_state=42
        )

In [18]:
df_minority_upsampled.shape

(900, 3)

In [19]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1

In [20]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [21]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [22]:
## Down sampling


# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples=1000
class_0_ratio= 0.9
n_class_0= int(n_samples* class_0_ratio)   #900 values
n_class_1= n_samples-n_class_0

## Create My dataframe with imbalanced dataset

class_0= pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1= pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1]*n_class_1
})

df=pd.concat([class_0, class_1]).reset_index(drop=True)

df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [23]:
## Down sampling

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [24]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, 
         n_samples=len(df_minority),
         random_state=42
        )

In [26]:
df_majority_downsampled.shape

(100, 3)

In [27]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [28]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64